.trips-calendar .react-calendar__navigation__label {
    color: var(--color-gray-600);
}

.trips-calendar .react-calendar__navigation__label::first-letter {
    text-transform: uppercase;
}

.trips-calendar .react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
    color: var(--color-gray-400);
}

.trips-calendar .react-calendar__tile {
    font-size: 1rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    flex: none;
}

.trips-calendar .react-calendar__tile--active {
    background-color: #f04d23 !important;
}
